//----- Supporters block with tabs
.supp-tab {
  overflow: hidden;
  @include breakpoint(overPhone) {
    display: table;
  }
  &-wrap {
    overflow: hidden;
    margin-bottom: 8%;
    .h2--small {
        span {
            @include breakpoint(phone) {
                display: block;
            }
        }
    }
  }
  &__nav {
    display: table-cell;
    vertical-align: top;
    width: cp(308px, $l--content);
    // float: left;
    &__link {
      @extend .c-btn;
      background-color: colorFunc(buttons, secondary);
      color: colorFunc(buttons, tertiary);
      &.active,
      &:hover {
        background-color: colorFunc(buttons, primary);
        color: colorFunc(buttons, secondary);
      }
      width: 100%;
      font-weight: $font-weight-bold;
      margin-bottom: 1px;
      &.c-tab__link {
        // Overide default btn style
        text-align: left;
        height: ce(60px, 14px);
        line-height: ce(60px, 14px);
      }
    }
  }
  &__dd {
    margin-bottom: 3%;
  }

  &__contents {
    display: table-cell;
    vertical-align: top;
    width: cp(620px, $l--content);
    // float: left;
    background-color: colorFunc(supporters, tab-cont-bg);
    padding: 4% 4.5%;
    @include breakpoint(phone) {
      width: 100%;
      padding: 9% 3.5% 10%;
    }
  }
  &__content {
    overflow: hidden;
    &__btn {
      margin-top: 8%;
    }
  }
  &__logo {
    width: 19%;
    float: left;
    margin-right: 8%;
    margin-top: 1%;
    @include breakpoint(overPhone) {
      height: 11.2rem; // LazyLoad - To avoid jumping
    }
    @include breakpoint(phone) {
      width: 75%;
      margin: 1% auto 11%;
      float: none;
      height: 46rem; // LazyLoad - To avoid jumping
    }
  }
  &__img {
    margin: 0 auto;
  }
  &__details {
    width: 73%;
    float: left;
    @include breakpoint(phone) {
      width: 100%;
    }
  }
  &__row {
    margin-bottom: 1.4%;
    @include breakpoint(phone) {
      margin-bottom: 3.3%;
    }
  }
  &__info {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin-right: 3%;
      min-width: 9em;
    }
  }
  &__social {
    width: 40%;
    @include breakpoint(phone) {
      margin-top: 6%;
      width: 100%;
      text-align: center;
    }
    &-btn {
      display: inline-block;
      margin-right: 4%;
      @include breakpoint(phone) {
        margin-right: 10%;
        &:last-child {
          margin-right: 0;
        }
      }
      .c-btn--social-page {
        width: ce(30px, 14px);
        height: ce(30px, 14px);
      }
    }
  }
  //----- If they want like on desing
  // .c-social {
  //   @include breakpoint(phone) {
  //     width: 100%;
  //     margin-bottom: 0;
  //   }
  // }
  // .c-social__item {
  //   color: colorFunc(supporters, tab-social);
  //   &:after {
  //     @include hide(overPhone);
  //     background-color: colorFunc(supporters, tab-social-line);
  //   }
  // }
}
