$icomoon-font-path: "#{$path-fonts}/svg-font" !default;

$icon--timeline: "\e923";
$icon--arrow-down: "\e900";
$icon--arrow-left: "\e901";
$icon--arrow-right: "\e902";
$icon--arrow-submenu: "\e903";
$icon--arrow-up: "\e904";
$icon--audio-pause: "\e905";
$icon--audio-play: "\e906";
$icon--bike: "\e907";
$icon--bus: "\e908";
$icon--calendar: "\e909";
$icon--pin-n: "\e924";
$icon--car: "\e90a";
$icon--cart: "\e90b";
$icon--close: "\e90c";
$icon--compas: "\e90d";
$icon--facebook: "\e90e";
$icon--gplus: "\e90f";
$icon--instagram: "\e910";
$icon--list: "\e911";
$icon--ok: "\e912";
$icon--pagin-first: "\e913";
$icon--pagin-last: "\e914";
$icon--pin: "\e915";
$icon--play: "\e916";
$icon--plus: "\e917";
$icon--target-circle: "\e925";
$icon--profil: "\e918";
$icon--quote: "\e919";
$icon--reload: "\e91a";
$icon--search: "\e91b";
$icon--shield-primary: "\e91c";
$icon--shield-secondary: "\e91d";
$icon--stats: "\e91e";
$icon--train: "\e91f";
$icon--tree: "\e920";
$icon--twitter: "\e921";
$icon--walking: "\e922";
