//----- Social Wall Heading

//.social-wall__heading

&__heading {
    position: relative;
    background-color: colorFunc(tabs, white);

    @include breakpoint(overPhone) {
        height: 37.4rem;
        padding: 3rem 2.6rem 16.4rem;
    }

    @include breakpoint(phone) {
        padding: 0 0 2.5rem;
    }

    .h2--big {
        @include breakpoint(phone) {
            padding: 0;
            margin-bottom: 0;
            margin-left: 4rem;
        }
    }
}

&__nav {
    display: table;
    width: 100%;

    @include breakpoint(overPhone) {
        border-bottom: 6px solid colorFunc(tabs, active);
    }

    @include breakpoint(phone) {
        position: relative;
        border-bottom: 0.9rem solid colorFunc(tabs, active);
    }

    &--absolute {
        padding-right: 2.7rem;

        position: absolute;
        top: -5.6rem;
        left: 0;
        @include breakpoint(phone) {
            padding-right: 0;
            margin-bottom: 2.9rem;
        }
    }
}

&__square {
    display: table-cell;

    vertical-align: middle;
    background-color: colorFunc(tabs, white);
    border-right: 1px solid colorFunc(tabs, border);

    font-weight: $font-weight-bold;
    color: colorFunc(tabs, color);
    text-transform: uppercase;
    text-align: center;

    &:last-child {
        border-right: 0;
    }

    @include breakpoint(overPhone) {
        width: 9.05rem;

        padding: 1.5rem 0;
        font-size: 1.5rem;
    }

    @include breakpoint(phone) {
        width: 25%;
        padding: 1.8rem 0;

        font-size: 3rem;
    }

    &.active {
        background-color: colorFunc(tabs, active);
        border-right: colorFunc(tabs, active);
    }

    .icon--twitter,
    .icon--facebook,
    .icon--instagram {
        @include breakpoint(overPhone) {
            font-size: 2.3rem;
        }

        @include breakpoint(phone) {
            font-size: 5.1rem;
        }
    }
}

&__heading-tag {
    color: $brand-secondary;
    line-height: 1;

    @include breakpoint(overPhone) {
        margin-bottom: 1.4rem;

        font-size: 1.5rem;
    }

    @include breakpoint(phone) {
        padding-top: 7rem;
        margin: 0 4rem 3rem;

        font-size: 3rem;
    }
}

&__heading-hr {
    height: 4px;

    border: 0;
    background-color: colorFunc(tabs, hr);

    @include breakpoint(overPhone) {
        width: 3.2rem;

        margin-bottom: 0.7rem;
    }

    @include breakpoint(phone) {
        width: 4.6rem;
        margin-left: 4rem;
        margin-bottom: 3rem;
    }
}
