//----- LiveNews / First block
.livenews-hero {
  background-color: colorFunc(section, primary);
  // margin-top: 5%;
  margin-bottom: 7%;
  position: relative;
  @include breakpoint(phone) {
    margin-bottom: 3rem;
  }
  @include bg-cut{
    bottom: 0;
    height: 13em;
    background-color: colorFunc(section, tertiary);
    @include breakpoint(phone) {
      height: 66em;
    }
  }
  @include breakpoint(phone) {
    margin-bottom: 5%;
  }
  &__headings {
    @extend .l--phone;
  }
}
