//----- Player Image
.player-image {
  float: right;
  width: 42%;
  margin: -5% auto 0;
  background: {
    image: url('#{$path-images}/logos/logo--racing-2.svg');
    repeat: no-repeat;
    position: center 30%;
    size: contain;
  }
  @include breakpoint(phone) {
    width: 100%;
    margin: 1.2em auto 3%;
    background-size: 70%;
    float: none;
  }
  img {
    margin: 0 auto;
    @include breakpoint(phone) {
      width: 60%;
    }
  }
}
