//----- Player Career
.player-career {
  width: 42%;
  float: left;
  @include breakpoint(phone) {
    width: 100%;
    margin-bottom: 2.5em;
  }
  &__category {
    overflow: hidden;
    margin-bottom: 5%;
    @include breakpoint(phone) {
      margin-bottom: 9%;
    }
  }
  &__row {
    padding: 0.7em 1em;
    width: 100%;
    float: left;
    margin-bottom: 1px;
    background-color: colorFunc(player, career-row);
    @include breakpoint(phone) {
      padding: 2em;
    }
  }
  &__details {
    float: left;
    font-weight: $font-weight-bold;
    @include font-size(14px, 28px);
  }
  &__date {
    color: colorFunc(player, career-date);
    font-weight: $font-weight-bold;
  }
  &__flag {
    float: right;
  }
  .player-hero__dot {
    background-color: colorFunc(player, career-date);
  }
  .player-hero__label {
    min-width: 43%;
    @extend .l--phone;
    @include font-size(14px, 36px);
    @include breakpoint(phone){
      padding-top: 0;
      padding-bottom: 2%;
      border: none;
      min-width: auto;
    }
  }
}
