// Search page Zero result

.zero-result {
    .c-number-of-results {
      overflow: hidden;
        @include breakpoint(overPhone) {
            padding: 6.5rem 7.8rem;
            margin-bottom: 8.5rem;

            font-size: 5.6rem;
        }
        @include breakpoint(phone) {
            padding: 6rem 4.5rem;
            margin-bottom: 6rem;
        }
        .c-number-of-results__text {
          width: 100%;
          display: block;
        }

        .c-btn--group {
            @include breakpoint(overPhone) {
                display: block;
                margin-top: 6rem;
                float: left;
            }
        }
    }

}
