//----- Page / Phototheque
.phototheque {
  &-page {
    .c-btn--play-small {
      display: none;
    }
  }
  &-hero {
    background-color: colorFunc(section, primary);
    margin-bottom: 7%;
    position: relative;
    @include bg-cut{
      bottom: 0;
      height: 13em;
      background-color: colorFunc(section, tertiary);
    }
    @include breakpoint(phone) {
      margin-bottom: 8%;
    }
  }
}