//----- Page / Racing TV
.racing-tv {
  &-page {
    h1 {
      margin-bottom: 6%;
    }
  }
  &-hero {
    background-color: colorFunc(section, primary);
    margin-bottom: 8%;
    position: relative;
    @include bg-cut{
      bottom: 0;
      height: 3.5em;
      background-color: colorFunc(section, tertiary);
      @include breakpoint(phone) {
        height: 0;
      }
    }
    @include breakpoint(phone) {
      margin-bottom: 5rem;
    }
  }
}
