//----- Article Tag Section
.article-tag {
  @include breakpoint(overPhone) {
    margin-right: 1.8rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  @include breakpoint(phone) {
    margin-bottom: 1.8rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &s {
    margin: 4.2rem 0 5.9rem;
  }
}
