//----- Page Partners / Feeds
.partners-article--small {
  overflow: hidden;
  width: cp(215px, $l--content);
  margin-right: cp(22px, $l--content);
  margin-bottom: 4%;
  float: left;
  border-bottom: 1px solid colorFunc(borders, tertiary);
  &:last-of-type {
    margin-right: 0;
  }
  &:nth-last-of-type(-n+2) {
    @include hide(phone);
  }
  @include breakpoint(phone) {
    width: 100%;
    margin-right: 0;
  }
  &-wrap {
    overflow: hidden;
    .h2--small {
        span {
            @include breakpoint(phone) {
                display: block;
            }
        }
    }
  }
  &__media {
    position: relative;
    margin-bottom: 4%;
    @include breakpoint(phone) {
      margin-bottom: 2%;
    }
  }
  &__title {
    @include font-size(14px, 36px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 8%;
    @include breakpoint(phone) {
      margin-bottom: 2.5%;
    }
  }
}
