.pagination{
    display: block;
    margin-top: 2rem;
    margin-bottom: 10rem;
    text-align: center;
    @include breakpoint(phone) {
      margin-bottom: 15em;
    }
    ul{
        li{
            display: inline-block;
            vertical-align: middle;
        }
        .nav_link{
            margin: 0;
            ._first, ._last{
                @include font-size(10px, 16px);
                height: 3em;
                width: 3em;
                color: $brand-tertiary;
                background-color: $brand-secondary;
                @include vendor-prefixes(border-radius, 50%);
                margin: 0 0.5rem;
                padding: 0.2em;
                &:hover {
                  background-color: $brand-primary;
                }
                @include breakpoint(phone) {
                  margin: 0 2.5rem;
                }
            }
            ._prev, ._next{
                @include font-size(10px, 15px);
                height: 3em;
                width: 3em;
                color: $brand-tertiary;
                background-color: $brand-secondary;
                &:hover {
                  background-color: $brand-primary;
                }
                @include breakpoint(phone) {
                  height: ce(50px, 15px);
                  width: ce(50px, 15px);
                }
            }
            ._prev{
                margin-right: 2rem;
            }
            ._next{
                margin-left: 2rem;
            }
        }
        .nav-number{
          @include font-size(14px, 32px);
            display: inline-block;
            margin: 0 0.2%;
            padding: 0.3rem 0.7rem;
            @include breakpoint(phone) {
              margin: 0 0.7%;
            }
            ._on,
            ._off {
                @include breakpoint(overPhone) {
                    padding: 0.3rem 0.7rem;
                    border-radius: 2rem;
                }
                @include breakpoint(phone) {
                  padding: 0.6rem 1.7rem;
                  border-radius: 50%;
                }
            }
            ._on,
            ._off:hover {
              color: $brand-primary;
              background-color: $brand-secondary;
            }
            a {
              font-weight: $font-weight-bold;
            }
        }
    }
}
