//----- Slider LiveNews
.c-slider-news {
  margin-top: 3%;
  // margin-bottom: 8.5%;
  // @include breakpoint(phone) {
  //   margin-bottom: 5.5%;
  // }
  .slick-list {
    overflow: visible;
  }
  &__media {}
  &__info {
    width: 63%;
    @include breakpoint(phone) {
      width: 100%;
    }
  }
  .slick-dots {
    position: absolute;
    top: 4%;
    right: 2%;
    @include font-size(20px, 20px);
    @include breakpoint(phone) {
      top: 2%;
    }
    li {
      display: block;
      border-radius: 50%;
      cursor: pointer;
      background-color: colorFunc(slider-news, dots);
      &.slick-active {
        background-color: colorFunc(slider-news, dots-active);
      }
    }
  }
  .c-slider-news__dots {
    width: ce(10px, 20px);
    height: ce(10px, 20px);
    display: block;
    margin-bottom: ce(10px, 20px);
  }
}
