//----- Stadium Access Section
.stadium-access {
  margin-bottom: 7.5em;
  @include breakpoint(phone) {
    margin-bottom: 5em;
  }
  &__top {
    margin-bottom: 3em;
    @extend .l--phone;
    @include breakpoint(overPhone) {
      width: 60%;
    }
    &__address {
      display: inline-block;
      margin-top: 1em;
      font-weight: $font-weight-bold;
      @include breakpoint(phone) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__bottom {
    @extend .l--phone;
    &__title {
      display: inline-block;
      @include font-size(20px, 48px);
      margin-bottom: 2em;
      @include breakpoint(phone) {
        margin-bottom: .5em;
      }
    }
  }

  p,
  h3,
  h4 {
    margin-bottom: 1.5rem;
    @include breakpoint(phone) {
      margin-bottom: 2.5rem;
    }
  }
}
